In [1]:
import numpy as np
import pandas as pd 
from astropy.io import fits
import matplotlib.pyplot as plt
from astropy.table import Table

%matplotlib notebook

In [4]:
table_dir = r"/home/xhall/Documents/"

In [5]:
unclassified_stars = pd.read_table(table_dir + "/stars_20180814_score0.5.txt", low_memory=False)

/home/xhall/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
unclassified_stars 426747258 426746434

                  strid
0          --------------------
1            150323150029637157
2            150323149999958026
3            150333150081438172
4            150333149908634462
...                         ...
426747255    150323149671086112
426747256    150303149735711559
426747257    150293149927455486
426747258    150323149734994726
426747259      (426747258 rows)

[426747260 rows x 1 columns]

In [46]:
split_table = []
unclassified_stars_len = len(unclassified_stars)
ranges = np.linspace(1, unclassified_stars_len-1, 40)
for i in range(len(ranges)-1):
    split_table.append(unclassified_stars.iloc[int(ranges[i]):int(ranges[i+1])])

In [47]:
for i in range(len(split_table)):
    split_table[i].to_csv(table_dir + "/stars_20180814_" + str(i) + ".csv", index = False)

In [5]:
Table.read(table_dir + "stars_20180814_0.csv")

WARNING: OverflowError converting to IntType in column strid, reverting to String. [astropy.io.ascii.fastbasic]

<Table length=10942237>
      strid
      str18
------------------
150323150029637157
150323149999958026
150333150081438172
150333149908634462
150333149759523988
150333149886119412
150333150035078057
150343150089180587
150333149933909153
150343149988352339
               ...
176453462589268157
176463462304451809
176453462902475764
176463462910502998
176453463163957555
176463463090194267
176463462730575368
176463462891294636
176463462857178420
176473462699192293